{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Command{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="restaurant">Restaurant</label>
    <input name="restaurant" id="restaurant" value="{{ request.form['restaurant'] }}" required>
    <label for="menu">Menu</label>
    <textarea name="menu" id="menu">{{ request.form['menu'] }}</textarea>
    <label for="Command_day">Command Day</label>
    <input name="command_day" type="date" id="command_day" value="{{ request.form['command_day'] }}" required>
    <label for="command_hour">Command Hour</label>
    <input name="command_hour" type="time" id="command_hour" value="{{ request.form['command_hour'] }}" required>
    <input type="submit" value="Save">
  </form>
{% endblock %}
